body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #333;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.button-container {
  background-color: 'pink';
  display: grid;
  grid-gap: 10px;
  grid-template: auto/ 1fr 1fr 1fr 1fr;
  margin: 2em 0 0;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  width: 75px;
  font-size: 12px;
  border-radius: 10px;
  text-transform: uppercase;
  background: linear-gradient(to top, rgb(255, 253, 131), rgb(255, 230, 0));
  box-shadow: 3px 3px #ffd000;
  overflow: hidden;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  display: inline;
  margin-right: 1em;
}
.playlist {
  margin-top: 1.5em;
}
.playlist li {
  display: block;
  margin: .5em 0;
  color: #ccc;
}
a {
  color: #999;
  text-decoration: none;
  font-weight: bold;
}
a:visited {
  color: #666;
}
a:active, a:hover {
  color: #000;
}
a.active, h3, h4 {
  color: #fff;
}
h4 {
  padding-bottom: .5em;
  border-bottom: 3px dashed #ccc;
}